<div class="row">
	<div class="container col-lg-6 col-lg-offset-3 col-sm-12 text-center">
	  <div class="jumbotron">
	    <h1>Messenger App</h1> 
	    <p>Send Messages Anywhere<p>
	  </div>
	</div>

</div>

<div class="jumbotron col-lg-6 col-lg-offset-3 col-sm-12 text-center" style="height: 200px; overflow: auto">
	<table class="table table-striped"
		<% @messages.each do |message|%>
				<tr><td class="text-center"><%= message.body %></td></tr>
		<% end %>
	</table>
</div>

<%= render 'form'%>